<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body>
  <div class="container">
    <%- include('../partials/nav-menu'); %>

    <h3>Просмотр профиля пользователя</h3>  
   
    <div class="card" style="width: 24rem;">
        <div class="card-body">
        <h6 class="card-title">Имя пользователя</h6>
        <p class="card-text">Petya</p>
        <h6 class="card-title">Email</h6>
        <p class="card-text">erewrw@gdfgd</p>        
        
        <a href="/api/books" class="btn btn-primary mt-3">Закрыть</a>        
      </div>
    </div>    
  </div> 

  <%- include('../partials/footer'); %> 
</body>
</html>