<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body>
  <h3>Приложение Библиотека для создания, хранения и редактирования книг</h3> 
  <%- include('../partials/footer'); %>
</body>
</html>