<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head'); %>
<body>
  <div class="container">
    <%- include('../partials/nav-menu'); %>
    <h3>Библиотека для создания, хранения и редактирования книг</h3> 
    <%- include('../partials/footer'); %>
  </div>  
</body>
</html>